# 1. KT 생활인구 데이터 프레임 만들기
- 201701~ 201812, 2개년
- 전부 불러와서 concat으로 합치고
- 칼럼 정리
* 집계구 단위로 하면 데이터가 너무 많다. 집계구는 필요없을듯 하다.  
행정경계(읍면동)의 1/30 규모로, 통계청에서 통계정보를 제공하는 최소 통계구역 단위경계입니다.  
※ 서울 약 16,230개, 경기 약 19,890개, 인천 약 4,580개 구역  
- 먼저, 동별 인구먼저 뽑고, 나머지 성별 연령별 유동인구 정리
- 동별 칼럼 붙이기

In [ ]:
import pandas as pd
import numpy as np
import re

In [87]:
# index_col= False: 첫 인덱스를 인덱스로 안 쓰겠다는 뜻
# utf-8안되서 euc-kr로 하니까 됨
path1 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201701.csv'
path2 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201702.csv'
path3 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201703.csv'
path4 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201704.csv'
path5 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201705.csv'
path6 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201706.csv'
path7 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201707.csv'
path8 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201708.csv'
path9 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201709.csv'
path10 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201710.csv'
path11 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201711.csv'
path12 = 'LOCAL_PEOPLE_GU_2017/LOCAL_PEOPLE_GU_201712.csv'

df1 = pd.read_csv(path1,encoding='euc-kr',index_col=False,header=0)
df2 = pd.read_csv(path2,encoding='euc-kr',index_col=False,header=0)
df3 = pd.read_csv(path3,encoding='euc-kr',index_col=False,header=0)
df4 = pd.read_csv(path4,encoding='euc-kr',index_col=False,header=0)
df5 = pd.read_csv(path5,encoding='euc-kr',index_col=False,header=0)
df6 = pd.read_csv(path6,encoding='euc-kr',index_col=False,header=0)
df7 = pd.read_csv(path7,encoding='euc-kr',index_col=False,header=0)
df8 = pd.read_csv(path8,encoding='euc-kr',index_col=False,header=0)
df9 = pd.read_csv(path9,encoding='euc-kr',index_col=False,header=0)
df10 = pd.read_csv(path10,encoding='euc-kr',index_col=False,header=0)
df11 = pd.read_csv(path11,encoding='euc-kr',index_col=False,header=0)
df12 = pd.read_csv(path12,encoding='euc-kr',index_col=False,header=0)
df12.head()

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20171201,0,11110,243917.9587,4962.0638,2968.5271,6132.2060,11384.4241,11539.7908,9338.9792,...,10112.5381,8556.0182,8987.2450,8553.0395,9751.7166,8585.7225,9086.0572,8462.7738,6523.2436,19479.1738
1,20171201,0,11140,200941.3460,3979.4038,1648.1324,3181.9045,8093.9133,9919.4639,11051.1152,...,9892.7054,9422.0039,9389.0770,7403.7863,7455.0269,6839.8202,7678.7048,7089.8735,4736.6632,13743.2351
2,20171201,0,11170,271189.4386,6804.1052,3416.5288,5324.4751,8764.1595,11247.2601,12841.4679,...,12890.8719,12830.9036,12583.4109,10624.3847,10636.4654,8506.6320,9586.1187,9002.8925,6705.5667,22556.3814
3,20171201,0,11200,339408.6815,11131.1332,4814.7880,7406.6923,13197.1669,14700.8476,13772.3775,...,14942.3057,15006.2191,15234.1058,12138.9821,12567.4013,11633.2465,13275.8752,11912.1488,8641.7898,24378.7249
4,20171201,0,11215,401486.0140,11275.3598,6016.4413,10725.5197,18459.4705,18980.3471,16622.4754,...,20334.4924,17734.9327,16776.9312,14332.3960,15669.5850,14788.7134,15828.7111,13616.6714,9692.1200,24463.5147

In [88]:
path21 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201801.csv'
path22 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201802.csv'
path23 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201803.csv'
path24 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201804.csv'
path25 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201805.csv'
path26 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201806.csv'
path27 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201807.csv'
path28 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201808.csv'
path29 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201809.csv'
path210 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201810.csv'
path211 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201811.csv'
path212 = 'LOCAL_PEOPLE_GU_2018/LOCAL_PEOPLE_GU_201812.csv'

df21 = pd.read_csv(path21,encoding='euc-kr',index_col=False,header=0)
df22 = pd.read_csv(path22,encoding='euc-kr',index_col=False,header=0)
df23 = pd.read_csv(path23,encoding='euc-kr',index_col=False,header=0)
df24 = pd.read_csv(path24,encoding='euc-kr',index_col=False,header=0)
df25 = pd.read_csv(path25,encoding='euc-kr',index_col=False,header=0)
df26 = pd.read_csv(path26,encoding='euc-kr',index_col=False,header=0)
df27 = pd.read_csv(path27,encoding='euc-kr',index_col=False,header=0)
df28 = pd.read_csv(path28,encoding='euc-kr',index_col=False,header=0)
df29 = pd.read_csv(path29,encoding='euc-kr',index_col=False,header=0)
df210 = pd.read_csv(path210,encoding='euc-kr',index_col=False,header=0)
df211 = pd.read_csv(path211,encoding='euc-kr',index_col=False,header=0)
df212 = pd.read_csv(path212,encoding='euc-kr',index_col=False,header=0)
df212.head()

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20181201,0,11110,240313.9588,4871.1886,2908.3826,5829.1182,11537.0964,11631.2453,9507.8501,...,10274.5978,8558.8542,8813.6483,8234.3022,10185.8269,8496.4939,8904.9118,8079.9675,6138.1297,18438.5771
1,20181201,0,11140,201934.6452,3933.5772,1633.1087,3302.4723,8559.9644,9585.5360,10630.7719,...,9970.2091,9999.2737,9469.7412,7730.0883,7942.0256,6716.8583,7500.8278,6598.8525,4746.1329,12933.3345
2,20181201,0,11170,277115.8361,6712.0894,3359.4173,5554.6093,9928.1469,13405.6038,14136.1349,...,15039.0853,13708.4428,12934.2426,11082.2513,10530.7402,8339.6629,9240.6779,8612.0681,6492.4957,19677.3316
3,20181201,0,11200,338999.5892,11926.9367,5270.9602,7519.9637,13429.3622,14659.9712,13853.5529,...,14382.1652,15139.3156,15279.4026,12324.3655,12990.5764,11425.2598,13032.9171,11705.1496,8646.6771,23291.2819
4,20181201,0,11215,403827.2833,12213.1766,6610.3774,10971.9226,18831.2935,19471.0428,16952.5375,...,19781.0336,17806.1885,16765.5686,14816.6976,15695.0950,14772.5108,15495.1637,13479.0360,9431.2816,23987.8047

In [89]:
# 05~17 총 데이터, url 포함
df_full = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,
                     df21,df22,df23,df24,df25,df26,df27,df28,df29,df210,df211,df212],ignore_index=True)

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20170101,0,11110,283391.7398,8254.0139,4072.3824,7238.4846,16010.2664,16704.7266,12028.0284,...,12368.9283,9032.2302,9404.9659,9821.4140,11093.7533,9259.9669,9267.5010,8404.7873,6606.5394,20054.5172
1,20170101,0,11140,189272.8069,5839.7737,2145.9994,3504.8663,7559.7180,9531.1893,9219.9123,...,9082.4159,8025.5527,7462.9904,6781.6011,6559.0624,6101.9494,6854.3446,5975.5024,4372.2153,13073.5707
2,20170101,0,11170,288680.0998,7621.8650,3829.0342,5652.0421,11294.0236,15587.4061,14722.9407,...,16205.0310,13282.5153,12189.7340,10275.6989,10029.5252,8551.2692,10088.8385,9137.0981,6703.0087,22828.8535
3,20170101,0,11200,313852.9667,10807.5407,4703.7320,6666.8801,11194.8142,13238.8334,12712.0003,...,11847.5451,12883.4162,13728.3267,11211.9168,11409.1741,10986.8913,12633.4418,10904.2829,8706.4226,23203.0813
4,20170101,0,11215,382976.1003,11159.8774,5762.2407,11523.5765,17806.4021,18216.7696,16117.4229,...,17209.7103,15753.6390,15221.5917,13213.2490,14907.5879,13499.8375,15133.2732,13277.7942,9691.7672,23721.9816
5,20170101,0,11230,355707.7992,10625.5212,5333.4586,7662.3881,14581.8748,15928.2077,13366.5139,...,12675.2208,12286.8900,13940.0855,11681.6848,12662.5285,12205.4836,14536.3831,13769.5093,10846.9445,30145.9433
6,20170101,0,11260,390842.5270,13276.6328,6504.9248,9322.7585,12051.1174,13276.1187,14459.6370,...,13541.0036,13814.8378,14637.8097,13015.7664,15700.5606,15557.4951,18152.0052,15692.1402,12077.8528,30160.4129
7,20170101,0,11290,437300.4233,15710.7812,8782.0450,10891.3882,15124.5541,16590.1767,14925.3809,...,14686.6277,14922.5790,17341.0473,16751.7766,17003.3890,15086.4734,17967.4418,16303.7428,13058.0432,34125.6128
8,20170101,0,11305,340028.4549,10819.7893,5945.3468,8289.8142,11824.3623,11671.1892,11262.5720,...,10645.7552,10581.6173,11785.8851,11788.4161,13335.0773,12189.2140,15184.8906,13888.9946,11769.6999,30829.6865
9,20170101,0,11320,320333.9618,10728.9928,6045.1997,7948.8997,9462.7779,10040.1631,10293.9847,...,9601.0875,9687.2758,11787.4196,11466.5225,13136.1162,12579.5833,15466.1878,13859.8777,10155.0224,27041.6198
10,20170101,0,11350,566933.4774,19689.3012,12532.7891,18335.3665,21302.8492,18987.2913,17316.5521,...,17401.8610,17863.1693,20810.8357,21446.4608,25078.9106,22015.3558,24688.9874,21599.8616,15481.9662,41524.8211
11,20170101,0,11380,482621.8930,16976.3203,9379.0396,12381.2842,14413.5000,15114.4493,16007.1377,...,15394.5848,16597.0629,19851.8575,18756.7330,19479.6889,17838.8141,20939.0451,18457.0729,15176.1116,40444.6345
12,20170101,0,11410,347789.6264,10519.1630,5554.4941,8962.0793,14637.2587,15343.8106,12162.3046,...,13846.1218,12121.6757,12980.8337,12422.7858,13384.1822,12174.8931,14228.3751,12470.1798,9886.0667,27322.8614
13,20170101,0,11440,473731.4290,13588.6247,6735.9531,14980.4824,25556.0102,25039.3719,22098.0431,...,24529.0627,21659.3984,20082.4840,17151.3565,16596.5878,13698.7189,15765.8251,12572.6717,10556.4484,30086.7504
14,20170101,0,11470,444059.3107,14981.5052,9820.9320,13998.1551,14274.9784,13191.3396,15016.5974,...,13904.1094,14654.3080,17554.1301,18682.9902,21225.1529,17161.8481,18632.0211,16412.0927,11947.1031,28587.9182
15,20170101,0,11500,562423.5333,21436.4892,9721.1780,12844.4116,17341.8422,20826.2060,23792.7085,...,21828.5092,24109.1346,24459.4829,20478.3140,20174.5415,19974.4143,24068.1703,21079.3619,16825.2775,39474.2739
16,20170101,0,11530,405217.7214,15129.9030,6809.6863,9042.8505,11686.1361,14855.9665,16279.3072,...,14109.0411,15738.5666,18250.1528,15133.4146,15136.7738,14146.9536,17143.7353,16444.7322,11933.9634,25725.9924
17,20170101,0,11545,196453.9632,6512.5768,3102.6974,4302.4995,6320.3092,7934.7100,8707.3166,...,7054.1506,7191.2942,7607.3126,7128.2787,7636.0617,7562.5202,8626.7353,7878.9069,6125.3124,12675.7979
18,20170101,0,11560,422638.6404,13328.5028,6011.7614,8737.7201,13878.6500,18621.3031,19264.6437,...,19137.4982,17915.7031,17666.0448,14922.9291,14493.7990,14440.6465,17034.0341,15173.6479,11722.4408,29590.8405
19,20170101,0,11590,417771.2327,12443.4683,5884.2167,8814.5126,17721.3181,22872.9864,17738.7221,...,18150.6241,16851.5435,16657.5939,14557.3605,14395.7551,14067.8675,16691.3057,15252.2587,12544.7987,30942.4848
20,20170101,0,11620,528891.4230,13820.2341,6722.1449,10674.9710,24167.4194,34786.5048,28607.4237,...,27284.7628,22046.9353,21203.6726,16498.2262,17239.8668,15996.4754,19750.2678,18849.9517,15690.7540,34668.8430
21,20170101,0,11650,502780.9576,13697.7993,7702.8817,11886.8348,16958.6606,19825.5262,19462.0090,...,19801.5657,19774.6241,21835.4982,20169.4565,21064.5722,15993.0376,19346.4061,18423.8768,14772.6857,35634.9845
22,20170101,0,11680,672048.4741,16308.2912,10047.9699,18151.4916,24281.8111,29438.0744,30120.0046,...,31851.7092,28991.6883,29158.9902,26086.0194,27642.8868,21767.4260,23909.7783,23581.6320,18993.5741,42187.6205
23,20170101,0,11710,732820.2029,25898.5461,13557.8464,18560.3148,22353.6631,26872.0638,29521.0113,...,28479.3435,30649.8278,32377.2562,27543.7237,29607.2928,27357.2299,32229.4602,30018.3547,20530.1700,47336.4117
24,20170101,0,11740,507290.2734,18019.8457,9635.7350,14418.2649,16206.9761,17634.0847,18174.6711,...,16793.8027,17824.3078,21284.9772,18166.8183,20179.7680,19957.4197,24330.7508,21213.3432,14875.7215,32678.6760
25,20170101,1,11110,240461.7883,6853.6337,3586.7399,5731.0610,12055.7170,13180.0434,9571.9651,...,10079.9417,7690.2489,8159.4249,8568.3862,9357.1512,7965.2210,8358.1287,7793.2935,6208.4418,18987.3637
26,20170101,1,11140,165315.2581,4953.2301,1899.6020,2839.3769,6080.5910,7782.7053,7985.0059,...,7332.5253,7014.0546,6906.9194,5914.0432,5619.4692,5433.9002,6392.4890,5422.6489,4092.0430,12442.8680
27,20170101,1,11170,279707.3780,7327.7174,3679.2787,5650.7406,11210.3721,15292.5195,14165.5637,...,14925.6277,12601.2847,11511.4279,9870.7121,9789.7316,8303.3545,9843.5921,8883.6698,6606.3318,22769.7401
28,20170101,1,11200,311892.6692,10521.9421,4602.3097,6623.4161,11086.0526,13201.5994,12786.3637,...,11860.0341,12913.8100,13537.3841,11216.6923,11457.7999,10880.2144,12637.5377,10904.3592,8569.8060,23152.1084
29,20170101,1,11215,384657.1170,11139.0052,5761.9481,11827.9517,17972.9909,17956.3895,16209.8992,...,17142.0261,15716.5579,15336.6881,13257.4830,14872.7150,13724.9822,15280.8338,13436.3239,9826.9718,24082.8981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437970,20181231,22,11620,514840.3324,13497.7545,6504.3335,10116.2953,21993.9805,32754.8388,26693.4695,...,27639.8971,21305.8216,20016.3246,16655.4106,16968.4296,16257.0508,19072.0570,17641.0379,15064.9335,34563.2631
437971,20181231,22,11650,545920.4241,17271.4004,9650.4090,14028.9918,18604.8027,22149.3166,20633.4232,...,21968.4211,21152.5459,24402.9220,21712.5477,23905.3623,18655.7140,19544.2685,18278.4852,14491.3058,35583.5402
437972,20181231,22,11680,694144.8896,18999.9341,12677.8872,21984.1551,24842.5529,30220.4838,29335.2999,...,32782.0157,28952.5914,30660.7431,27778.4569,29941.7553,21981.4909,22392.9858,22042.0375,17576.9235,40974.1649
437973,20181231,22,11710,761832.3847,28525.2592,14662.1599,19640.6654,23432.4411,27428.3117,28999.4123,...,28932.5011,30733.7230,34451.8553,29226.0611,31278.6043,28356.9521,32039.2543,29733.0012,21058.7444,48530.4572
437974,20181231,22,11740,511401.1277,18714.2910,10085.4923,14194.9108,14663.9776,16177.8894,16597.2588,...,16288.0068,17205.7826,21604.6914,19123.0560,21579.5374,19800.4891,23981.0063,22220.1545,16124.8823,36294.8505
437975,20181231,23,11110,271235.4557,7502.9829,3838.9675,6915.5203,14613.9354,15910.6833,11037.2681,...,13883.5421,9342.5336,9243.6598,8481.6090,10264.2351,8970.0925,9110.4926,8380.4854,6431.4972,18384.2776
437976,20181231,23,11140,179837.1929,4685.1950,1802.1777,3000.8775,7002.8687,8173.3753,8283.8614,...,8561.6489,7584.6871,7618.2783,6092.5054,6398.2295,5775.9965,6600.0440,6269.9244,4356.7581,12586.7372
437977,20181231,23,11170,289617.3934,7282.2703,3658.8028,5888.5834,11379.5602,15265.6324,14439.0605,...,16255.7772,13519.9437,13123.1841,11045.3932,11031.7651,8450.6931,9595.5549,8764.3150,6769.6338,20570.5795
437978,20181231,23,11200,334834.2472,12311.6459,5321.7491,6977.2057,11811.6897,13994.9309,13376.3988,...,13506.6824,13877.3818,14968.6859,12090.3650,13003.9693,11403.3161,13164.3885,12063.7926,9088.4695,24386.4940
437979,20181231,23,11215,398470.6002,11921.1487,6425.5839,11661.8459,17571.4200,18461.6498,16113.9427,...,17661.7783,16200.7300,16157.3702,13986.6353,15776.5867,14736.1781,15682.1900,13965.5453,9940.8107,24993.5793
437980,20181231,23,11230,362019.9478,11394.2923,5703.4775,7646.2035,14477.1114,14945.4473,12651.3328,...,14168.8063,13128.0362,14215.9597,11932.2819,13258.4755,12333.1598,14152.0505,13594.5049,10082.1799,31387.4826
437981,20181231,23,11260,390047.2241,13695.8783,6672.1079,8569.8192,11415.9691,13168.1885,13451.9926,...,13086.3076,13590.5828,15581.8766,13178.0506,15975.8375,15816.2429,18408.4444,15745.9038,11600.7944,31138.4149
437982,20181231,23,11290,452419.1247,17389.6389,9764.5649,11168.9921,15412.5630,15691.2812,13114.7360,...,15105.2834,14581.7919,17506.1367,17116.7497,18797.2167,16329.9571,17957.0962,16848.4680,12790.8926,38140.1199
437983,20181231,23,11305,326146.7531,10342.9830,5669.4334,7576.9293,10843.9353,11012.8269,10381.6732,...,10705.4608,9630.4692,11391.0898,11441.1941,13709.0341,12599.6049,14398.0811,13046.7480,11073.0112,30735.8265
437984,20181231,23,11320,312915.2229,10952.3432,6091.6347,7171.6207,8635.8290,9144.5492,9442.0751,...,9431.5551,9336.1533,11637.5106,10721.7375,13630.0576,12712.6316,14751.2158,13773.3726,9761.6141,28806.9873
437985,20181231,23,11350,547720.2985,18912.4166,12525.7208,18260.1928,20190.9671,17238.2033,14998.4525,...,16284.3998,15850.8773,19658.1309,20463.9961,25522.5349,21956.5400,24354.3104,21351.5527,15352.6448,43494.6121
437986,20181231,23,11380,474942.2896,17168.6352,9585.5037,12591.3850,13320.8581,14546.9581,14530.4580,...,15220.8265,15616.9526,19144.0586,18234.6802,20688.5797,17968.8923,20687.7585,18686.0466,14734.1844,40932.4527
437987,20181231,23,11410,370111.6318,11787.5519,6002.3288,8499.3240,14285.6617,15468.7806,12364.0717,...,16391.5427,13746.1414,14346.7120,13175.1072,14789.8518,13100.8223,14560.1365,12793.6818,9841.0254,30349.0193
437988,20181231,23,11440,465559.8883,13113.2586,6573.9112,14482.7866,22653.6688,23347.0148,19821.6665,...,24859.6212,21062.5109,20785.0349,17773.6660,17527.9886,13788.5314,15477.5483,12989.8710,9373.8662,28539.4352
437989,20181231,23,11470,415060.3931,15733.9449,10888.8397,13531.2407,12234.5459,11706.1192,12065.2764,...,12253.2413,12700.6039,15931.4830,16894.7879,19745.5339,16793.8463,17265.7415,15550.8681,11820.3005,27896.1209
437990,20181231,23,11500,569953.5394,21780.2962,9957.3940,12613.3525,15754.0981,21044.3117,23195.6611,...,22782.8454,24183.4035,26000.8120,21769.7972,21387.3024,19589.6729,23618.4163,21670.0176,16320.4947,40606.0213
437991,20181231,23,11530,401317.4959,15613.8175,7007.9670,8221.9687,10924.3039,14091.2761,15723.3043,...,13855.3823,15207.7660,17370.3857,15508.1482,16311.0474,14766.2244,17037.1460,15453.8493,11892.8881,26674.7489
437992,20181231,23,11545,203002.3038,6075.1889,2937.9678,3649.7748,5804.0842,8431.4273,8878.9812,...,7401.0048,7780.1961,8359.6548,7039.5244,8062.1090,7691.6251,8985.7572,8200.7451,6318.3237,13576.8363
437993,20181231,23,11560,442486.1469,14243.3223,6361.5189,8151.6188,13115.1179,19389.7229,20063.3277,...,20438.6585,19583.0361,19157.3975,15916.4224,16466.2279,15373.4666,17288.9484,16738.0890,11879.2878,31002.0476
437994,20181231,23,11590,410926.1689,13277.7791,6186.0092,8437.8185,15799.0579,20219.5638,16695.9492,...,17510.6500,15657.0419,16511.2993,14217.7497,14914.5376,14141.3191,16847.6597,15356.9712,12033.9510,32694.9183
437995,20181231,23,11620,524916.6579,13590.5873,6565.5665,10200.2129,22375.6621,33873.0854,27510.4731,...,28543.6607,22009.5457,20555.9866,17017.8905,17445.7475,16436.8033,19310.0446,17792.3370,15159.9956,34881.8443
437996,20181231,23,11650,514630.3683,16415.3162,9302.8094,13656.2125,17593.0871,20018.6269,18887.0684,...,20040.0592,19493.7095,22888.7373,20477.8548,22603.7697,17723.7620,18376.2462,17309.4096,13739.6384,34110.9447
437997,20181231,23,11680,686729.5029,19227.7038,12567.1378,21313.5081,24308.6100,29680.7417,28380.6901,...,31430.2815,28731.3934,30130.5140,27626.7533,29630.5392,21634.3518,22176.8834,21920.1091,17657.7531,41654.7030
437998,20181231,23,11710,748228.6015,28140.9981,14473.3287,19229.8765,22680.2903,26807.7935,28706.0535,...,28293.6099,30160.7062,33832.3993,28704.0628,30811.8484,27631.5242,31110.4196,29165.2619,20712.2400,47749.9883
437999,20181231,23,11740,516164.2769,19603.6127,10499.2087,14170.3440,14708.4631,16431.6993,17010.1563,...,16499.4012,17510.7933,21980.8639,19487.3816,21814.8442,19857.2465,24019.1113,22173.7182,16079.2916,35953.3893

In [187]:
df = df_full.copy()

In [188]:
df_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438000 entries, 0 to 437999
Data columns (total 32 columns):
기준일ID              438000 non-null int64
시간대구분              438000 non-null int64
자치구코드              438000 non-null int64
총생활인구수             438000 non-null float64
남자0세부터9세생활인구수      438000 non-null float64
남자10세부터14세생활인구수    438000 non-null float64
남자15세부터19세생활인구수    438000 non-null float64
남자20세부터24세생활인구수    438000 non-null float64
남자25세부터29세생활인구수    438000 non-null float64
남자30세부터34세생활인구수    438000 non-null float64
남자35세부터39세생활인구수    438000 non-null float64
남자40세부터44세생활인구수    438000 non-null float64
남자45세부터49세생활인구수    438000 non-null float64
남자50세부터54세생활인구수    438000 non-null float64
남자55세부터59세생활인구수    438000 non-null float64
남자60세부터64세생활인구수    438000 non-null float64
남자65세부터69세생활인구수    438000 non-null float64
남자70세이상생활인구수       438000 non-null float64
여자0세부터9세생활인구수      438000 non-null float64
여자10세부터14세생활인구수    438000 non-null float64
여자15세부터19세생활인구수    438000 non-null float64
여자20세부터24세생활인구수    438000 non-null float64
여자25세부터29세생활인구수    438000 non-null float64
여자30세부터34세생활인구수    438000 non-null float64
여자35세부터39세생활인구수    438000 non-null float64
여자40세부터44세생활인구수    438000 non-null float64
여자45세부터49세생활인구수    438000 non-null float64
여자50세부터54세생활인구수    438000 non-null float64
여자55세부터59세생활인구수    438000 non-null float64
여자60세부터64세생활인구수    438000 non-null float64
여자65세부터69세생활인구수    438000 non-null float64
여자70세이상생활인구수       438000 non-null float64
dtypes: float64(29), int64(3)
memory usage: 106.9 MB

In [192]:
age_list = [
'남자0세부터9세생활인구수','남자10세부터14세생활인구수','남자15세부터19세생활인구수','남자20세부터24세생활인구수','남자25세부터29세생활인구수',
'남자30세부터34세생활인구수','남자35세부터39세생활인구수','남자40세부터44세생활인구수','남자45세부터49세생활인구수','남자50세부터54세생활인구수',
'남자55세부터59세생활인구수','남자60세부터64세생활인구수','남자65세부터69세생활인구수','남자70세이상생활인구수','여자0세부터9세생활인구수',
'여자10세부터14세생활인구수','여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수',
'여자35세부터39세생활인구수','여자40세부터44세생활인구수','여자45세부터49세생활인구수','여자50세부터54세생활인구수','여자55세부터59세생활인구수',
'여자60세부터64세생활인구수','여자65세부터69세생활인구수','여자70세이상생활인구수'
]

In [210]:
# 15세 미만
weak_list =[
'남자0세부터9세생활인구수','남자10세부터14세생활인구수','남자65세부터69세생활인구수','남자70세이상생활인구수','여자0세부터9세생활인구수',
'여자10세부터14세생활인구수','여자65세부터69세생활인구수','여자70세이상생활인구수'
]

In [211]:
nonweak_list=[
'남자15세부터19세생활인구수','남자20세부터24세생활인구수','남자25세부터29세생활인구수','남자30세부터34세생활인구수','남자35세부터39세생활인구수',
'남자40세부터44세생활인구수','남자45세부터49세생활인구수','남자50세부터54세생활인구수','남자55세부터59세생활인구수','남자60세부터64세생활인구수',
'여자15세부터19세생활인구수','여자20세부터24세생활인구수','여자25세부터29세생활인구수','여자30세부터34세생활인구수','여자35세부터39세생활인구수',
'여자40세부터44세생활인구수','여자45세부터49세생활인구수','여자50세부터54세생활인구수','여자55세부터59세생활인구수','여자60세부터64세생활인구수'
]

In [193]:
df_age = gather(df, 'age','age_flow', age_list)

In [203]:
df_age['취약계층여부'] =''

In [207]:
df_age.isna().sum()

기준일ID       0
시간대구분       0
자치구코드       0
총생활인구수      0
age         0
age_flow    0
취약계층여부      0
dtype: int64

In [ ]:
# 딕셔너리로 만들고 자치구 코드랑 한글이름 match
change_district = {11260:'중랑구',11140:'중구',11545:'금천구',11290:'성북구',11305:'강북구',11560:'영등포구',11320:'도봉구',
11590:'동작구',11350:'노원구',11620:'관악구',11110:'종로구',11380:'은평구',11650:'서초구',11500:'강서구',11410:'서대문구',
11680:'강남구',11170:'용산구',11440:'마포구',11710:'송파구',11200:'성동구',11215:'광진구',11470:'양천구',11740:'강동구',
11230:'동대문구',11530:'구로구'}

df['자치구코드'] = df['자치구코드'].apply(lambda x : change_district[x])

In [217]:
# 취약계층 리스트에 있는 string이 포함되면 weak에 넣음
weak = df_age[df_age['age'].str.contains('|'.join(weak_list))]

In [218]:
nonweak = df_age[df_age['age'].str.contains('|'.join(nonweak_list))]
# (12264000, 7)에서
# 취약: 35040000
# 비취약:

In [219]:
weak['취약계층여부'] = int(1)
weak

/Users/shinbeompyeon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,기준일ID,시간대구분,자치구코드,총생활인구수,age,age_flow,취약계층여부
0,20170101,0,11110,283391.7398,남자0세부터9세생활인구수,8254.0139,1
1,20170101,0,11140,189272.8069,남자0세부터9세생활인구수,5839.7737,1
2,20170101,0,11170,288680.0998,남자0세부터9세생활인구수,7621.8650,1
3,20170101,0,11200,313852.9667,남자0세부터9세생활인구수,10807.5407,1
4,20170101,0,11215,382976.1003,남자0세부터9세생활인구수,11159.8774,1
5,20170101,0,11230,355707.7992,남자0세부터9세생활인구수,10625.5212,1
6,20170101,0,11260,390842.5270,남자0세부터9세생활인구수,13276.6328,1
7,20170101,0,11290,437300.4233,남자0세부터9세생활인구수,15710.7812,1
8,20170101,0,11305,340028.4549,남자0세부터9세생활인구수,10819.7893,1
9,20170101,0,11320,320333.9618,남자0세부터9세생활인구수,10728.9928,1
10,20170101,0,11350,566933.4774,남자0세부터9세생활인구수,19689.3012,1
11,20170101,0,11380,482621.8930,남자0세부터9세생활인구수,16976.3203,1
12,20170101,0,11410,347789.6264,남자0세부터9세생활인구수,10519.1630,1
13,20170101,0,11440,473731.4290,남자0세부터9세생활인구수,13588.6247,1
14,20170101,0,11470,444059.3107,남자0세부터9세생활인구수,14981.5052,1
15,20170101,0,11500,562423.5333,남자0세부터9세생활인구수,21436.4892,1
16,20170101,0,11530,405217.7214,남자0세부터9세생활인구수,15129.9030,1
17,20170101,0,11545,196453.9632,남자0세부터9세생활인구수,6512.5768,1
18,20170101,0,11560,422638.6404,남자0세부터9세생활인구수,13328.5028,1
19,20170101,0,11590,417771.2327,남자0세부터9세생활인구수,12443.4683,1
20,20170101,0,11620,528891.4230,남자0세부터9세생활인구수,13820.2341,1
21,20170101,0,11650,502780.9576,남자0세부터9세생활인구수,13697.7993,1
22,20170101,0,11680,672048.4741,남자0세부터9세생활인구수,16308.2912,1
23,20170101,0,11710,732820.2029,남자0세부터9세생활인구수,25898.5461,1
24,20170101,0,11740,507290.2734,남자0세부터9세생활인구수,18019.8457,1
25,20170101,1,11110,240461.7883,남자0세부터9세생활인구수,6853.6337,1
26,20170101,1,11140,165315.2581,남자0세부터9세생활인구수,4953.2301,1
27,20170101,1,11170,279707.3780,남자0세부터9세생활인구수,7327.7174,1
28,20170101,1,11200,311892.6692,남자0세부터9세생활인구수,10521.9421,1
29,20170101,1,11215,384657.1170,남자0세부터9세생활인구수,11139.0052,1
...,...,...,...,...,...,...,...
12263970,20181231,22,11620,514840.3324,여자70세이상생활인구수,34563.2631,1
12263971,20181231,22,11650,545920.4241,여자70세이상생활인구수,35583.5402,1
12263972,20181231,22,11680,694144.8896,여자70세이상생활인구수,40974.1649,1
12263973,20181231,22,11710,761832.3847,여자70세이상생활인구수,48530.4572,1
12263974,20181231,22,11740,511401.1277,여자70세이상생활인구수,36294.8505,1
12263975,20181231,23,11110,271235.4557,여자70세이상생활인구수,18384.2776,1
12263976,20181231,23,11140,179837.1929,여자70세이상생활인구수,12586.7372,1
12263977,20181231,23,11170,289617.3934,여자70세이상생활인구수,20570.5795,1
12263978,20181231,23,11200,334834.2472,여자70세이상생활인구수,24386.4940,1
12263979,20181231,23,11215,398470.6002,여자70세이상생활인구수,24993.5793,1
12263980,20181231,23,11230,362019.9478,여자70세이상생활인구수,31387.4826,1
12263981,20181231,23,11260,390047.2241,여자70세이상생활인구수,31138.4149,1
12263982,20181231,23,11290,452419.1247,여자70세이상생활인구수,38140.1199,1
12263983,20181231,23,11305,326146.7531,여자70세이상생활인구수,30735.8265,1
12263984,20181231,23,11320,312915.2229,여자70세이상생활인구수,28806.9873,1
12263985,20181231,23,11350,547720.2985,여자70세이상생활인구수,43494.6121,1
12263986,20181231,23,11380,474942.2896,여자70세이상생활인구수,40932.4527,1
12263987,20181231,23,11410,370111.6318,여자70세이상생활인구수,30349.0193,1
12263988,20181231,23,11440,465559.8883,여자70세이상생활인구수,28539.4352,1
12263989,20181231,23,11470,415060.3931,여자70세이상생활인구수,27896.1209,1
12263990,20181231,23,11500,569953.5394,여자70세이상생활인구수,40606.0213,1
12263991,20181231,23,11530,401317.4959,여자70세이상생활인구수,26674.7489,1
12263992,20181231,23,11545,203002.3038,여자70세이상생활인구수,13576.8363,1
12263993,20181231,23,11560,442486.1469,여자70세이상생활인구수,31002.0476,1
12263994,20181231,23,11590,410926.1689,여자70세이상생활인구수,32694.9183,1
12263995,20181231,23,11620,524916.6579,여자70세이상생활인구수,34881.8443,1
12263996,20181231,23,11650,514630.3683,여자70세이상생활인구수,34110.9447,1
12263997,20181231,23,11680,686729.5029,여자70세이상생활인구수,41654.7030,1
12263998,20181231,23,11710,748228.6015,여자70세이상생활인구수,47749.9883,1
12263999,20181231,23,11740,516164.2769,여자70세이상생활인구수,35953.3893,1

In [220]:
nonweak['취약계층여부'] = int(0)

/Users/shinbeompyeon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [221]:
weaknonweak = pd.concat([weak,nonweak],ignore_index=True)

In [227]:
weak_sum =weaknonweak.groupby(by=['자치구코드','취약계층여부']).sum()
weak_sum = weak_sum.reset_index()
weak_sum1 = weak_sum[['자치구코드','취약계층여부','age_flow']]

In [231]:
weak_sum1['age_flow']= weak_sum1['age_flow']/730/24
weak_sum1

/Users/shinbeompyeon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    자치구코드  취약계층여부       age_flow
0   11110       0  257671.246835
1   11110       1   73346.007509
2   11140       0  244550.365493
3   11140       1   56131.881936
4   11170       0  229560.154918
5   11170       1   71156.726104
6   11200       0  259625.278371
7   11200       1   87589.552190
8   11215       0  292596.190517
9   11215       1   93081.345797
10  11230       0  273183.212897
11  11230       1  102913.291370
12  11260       0  258427.967781
13  11260       1  107464.061779
14  11290       0  313826.315591
15  11290       1  126858.989222
16  11305       0  210679.249128
17  11305       1   97866.904800
18  11320       0  204889.211502
19  11320       1   94914.699969
20  11350       0  377732.163019
21  11350       1  156413.683384
22  11380       0  307554.679166
23  11380       1  140828.150257
24  11410       0  274882.541117
25  11410       1   97029.723361
26  11440       0  372558.858341
27  11440       1  106436.406916
28  11470       0  289009.832624
29  11470       1  117186.454294
30  11500       0  396061.757910
31  11500       1  151229.411002
32  11530       0  296547.464906
33  11530       1  106189.161212
34  11545       0  173258.293975
35  11545       1   52239.027327
36  11560       0  371116.715252
37  11560       1  114570.288488
38  11590       0  305077.821145
39  11590       1  109506.304307
40  11620       0  383024.530524
41  11620       1  119389.738381
42  11650       0  466963.246363
43  11650       1  144978.361882
44  11680       0  649609.708190
45  11680       1  171842.775480
46  11710       0  551142.003412
47  11710       1  200906.604599
48  11740       0  346585.319637
49  11740       1  139019.338040

In [234]:
weak_sum1['age_flow']= weak_sum1['age_flow'].round(0)
weak_sum1

/Users/shinbeompyeon/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

    자치구코드  취약계층여부  age_flow
0   11110       0  257671.0
1   11110       1   73346.0
2   11140       0  244550.0
3   11140       1   56132.0
4   11170       0  229560.0
5   11170       1   71157.0
6   11200       0  259625.0
7   11200       1   87590.0
8   11215       0  292596.0
9   11215       1   93081.0
10  11230       0  273183.0
11  11230       1  102913.0
12  11260       0  258428.0
13  11260       1  107464.0
14  11290       0  313826.0
15  11290       1  126859.0
16  11305       0  210679.0
17  11305       1   97867.0
18  11320       0  204889.0
19  11320       1   94915.0
20  11350       0  377732.0
21  11350       1  156414.0
22  11380       0  307555.0
23  11380       1  140828.0
24  11410       0  274883.0
25  11410       1   97030.0
26  11440       0  372559.0
27  11440       1  106436.0
28  11470       0  289010.0
29  11470       1  117186.0
30  11500       0  396062.0
31  11500       1  151229.0
32  11530       0  296547.0
33  11530       1  106189.0
34  11545       0  173258.0
35  11545       1   52239.0
36  11560       0  371117.0
37  11560       1  114570.0
38  11590       0  305078.0
39  11590       1  109506.0
40  11620       0  383025.0
41  11620       1  119390.0
42  11650       0  466963.0
43  11650       1  144978.0
44  11680       0  649610.0
45  11680       1  171843.0
46  11710       0  551142.0
47  11710       1  200907.0
48  11740       0  346585.0
49  11740       1  139019.0

In [235]:
# weak_sum1.to_csv('weakornot.csv',index=False) # index=False로 저장해야 Unnamed:0 칼럼 안생김

In [226]:
weaknonweak.groupby(by=['자치구코드','취약계층여부']).mean()

                     기준일ID  시간대구분         총생활인구수      age_flow
자치구코드 취약계층여부
11110 0       2.017567e+07   11.5  331017.255338  12883.562342
      1       2.017567e+07   11.5  331017.255338   9168.250939
11140 0       2.017567e+07   11.5  300682.247894  12227.518275
      1       2.017567e+07   11.5  300682.247894   7016.485242
11170 0       2.017567e+07   11.5  300716.882267  11478.007746
      1       2.017567e+07   11.5  300716.882267   8894.590763
11200 0       2.017567e+07   11.5  347214.831882  12981.263919
      1       2.017567e+07   11.5  347214.831882  10948.694024
11215 0       2.017567e+07   11.5  385677.537707  14629.809526
      1       2.017567e+07   11.5  385677.537707  11635.168225
11230 0       2.017567e+07   11.5  376096.505828  13659.160645
      1       2.017567e+07   11.5  376096.505828  12864.161421
11260 0       2.017567e+07   11.5  365892.030645  12921.398389
      1       2.017567e+07   11.5  365892.030645  13433.007722
11290 0       2.017567e+07   11.5  440685.306425  15691.315780
      1       2.017567e+07   11.5  440685.306425  15857.373653
11305 0       2.017567e+07   11.5  308546.154791  10533.962456
      1       2.017567e+07   11.5  308546.154791  12233.363100
11320 0       2.017567e+07   11.5  299803.912232  10244.460575
      1       2.017567e+07   11.5  299803.912232  11864.337496
11350 0       2.017567e+07   11.5  534145.847971  18886.608151
      1       2.017567e+07   11.5  534145.847971  19551.710423
11380 0       2.017567e+07   11.5  448382.830620  15377.733958
      1       2.017567e+07   11.5  448382.830620  17603.518782
11410 0       2.017567e+07   11.5  371912.265825  13744.127056
      1       2.017567e+07   11.5  371912.265825  12128.715420
11440 0       2.017567e+07   11.5  478995.267343  18627.942917
      1       2.017567e+07   11.5  478995.267343  13304.550864
11470 0       2.017567e+07   11.5  406196.287880  14450.491631
      1       2.017567e+07   11.5  406196.287880  14648.306787
11500 0       2.017567e+07   11.5  547291.170454  19803.087895
      1       2.017567e+07   11.5  547291.170454  18903.676375
11530 0       2.017567e+07   11.5  402736.627278  14827.373245
      1       2.017567e+07   11.5  402736.627278  13273.645151
11545 0       2.017567e+07   11.5  225497.321652   8662.914699
      1       2.017567e+07   11.5  225497.321652   6529.878416
11560 0       2.017567e+07   11.5  485687.005295  18555.835763
      1       2.017567e+07   11.5  485687.005295  14321.286061
11590 0       2.017567e+07   11.5  414584.126895  15253.891057
      1       2.017567e+07   11.5  414584.126895  13688.288038
11620 0       2.017567e+07   11.5  502414.270694  19151.226526
      1       2.017567e+07   11.5  502414.270694  14923.717298
11650 0       2.017567e+07   11.5  611941.610835  23348.162318
      1       2.017567e+07   11.5  611941.610835  18122.295235
11680 0       2.017567e+07   11.5  821452.487141  32480.485410
      1       2.017567e+07   11.5  821452.487141  21480.346935
11710 0       2.017567e+07   11.5  752048.610262  27557.100171
      1       2.017567e+07   11.5  752048.610262  25113.325575
11740 0       2.017567e+07   11.5  485604.659505  17329.265982
      1       2.017567e+07   11.5  485604.659505  17377.417255

In [105]:
# df.to_csv('flow_gu_final_190816.csv',index=False) # index=False로 저장해야 Unnamed:0 칼럼 안생김

In [ ]:
tmp_path= 'flow_gu_final_190816.csv'
tmp = pd.read_csv(path26)
#,encoding='euc-kr',index_col=False,header=0

In [93]:
df = df[['기준일ID','시간대구분','자치구코드','총생활인구수']]
df.info()
df.head()
# 데이터 갯수: 43 8000, nun-null
# 일별,시간대별, 구별, 총 생활인구수

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438000 entries, 0 to 437999
Data columns (total 4 columns):
기준일ID     438000 non-null int64
시간대구분     438000 non-null int64
자치구코드     438000 non-null int64
총생활인구수    438000 non-null float64
dtypes: float64(1), int64(3)
memory usage: 13.4 MB

      기준일ID  시간대구분  자치구코드       총생활인구수
0  20170101      0  11110  283391.7398
1  20170101      0  11140  189272.8069
2  20170101      0  11170  288680.0998
3  20170101      0  11200  313852.9667
4  20170101      0  11215  382976.1003

In [ ]:
df['기준일ID'] = pd.to_datetime(df['기준일ID'])
df.info()

## 자치구 코드 한글로 매칭

In [94]:
df['자치구코드'].value_counts()
# 24시간*365일*2년 = 17520개/구

11260    17520
11140    17520
11545    17520
11290    17520
11305    17520
11560    17520
11320    17520
11590    17520
11350    17520
11620    17520
11110    17520
11380    17520
11650    17520
11500    17520
11410    17520
11680    17520
11170    17520
11440    17520
11710    17520
11200    17520
11215    17520
11470    17520
11740    17520
11230    17520
11530    17520
Name: 자치구코드, dtype: int64

In [96]:
df_original = df.copy()

In [99]:
# df=df_original.copy()

In [97]:
# df['자치구코드'].loc[df['자치구코드'] == 11620] = '관악구'

In [104]:
# 딕셔너리로 만들고
change_district = {11260:'중랑구',11140:'중구',11545:'금천구',11290:'성북구',11305:'강북구',11560:'영등포구',11320:'도봉구',
11590:'동작구',11350:'노원구',11620:'관악구',11110:'종로구',11380:'은평구',11650:'서초구',11500:'강서구',11410:'서대문구',
11680:'강남구',11170:'용산구',11440:'마포구',11710:'송파구',11200:'성동구',11215:'광진구',11470:'양천구',11740:'강동구',
11230:'동대문구',11530:'구로구'}

df['자치구코드'] = df['자치구코드'].apply(lambda x : change_district[x])

           기준일ID  시간대구분 자치구코드       총생활인구수
0       20170101      0   종로구  283391.7398
1       20170101      0    중구  189272.8069
2       20170101      0   용산구  288680.0998
3       20170101      0   성동구  313852.9667
4       20170101      0   광진구  382976.1003
5       20170101      0  동대문구  355707.7992
6       20170101      0   중랑구  390842.5270
7       20170101      0   성북구  437300.4233
8       20170101      0   강북구  340028.4549
9       20170101      0   도봉구  320333.9618
10      20170101      0   노원구  566933.4774
11      20170101      0   은평구  482621.8930
12      20170101      0  서대문구  347789.6264
13      20170101      0   마포구  473731.4290
14      20170101      0   양천구  444059.3107
15      20170101      0   강서구  562423.5333
16      20170101      0   구로구  405217.7214
17      20170101      0   금천구  196453.9632
18      20170101      0  영등포구  422638.6404
19      20170101      0   동작구  417771.2327
20      20170101      0   관악구  528891.4230
21      20170101      0   서초구  502780.9576
22      20170101      0   강남구  672048.4741
23      20170101      0   송파구  732820.2029
24      20170101      0   강동구  507290.2734
25      20170101      1   종로구  240461.7883
26      20170101      1    중구  165315.2581
27      20170101      1   용산구  279707.3780
28      20170101      1   성동구  311892.6692
29      20170101      1   광진구  384657.1170
...          ...    ...   ...          ...
437970  20181231     22   관악구  514840.3324
437971  20181231     22   서초구  545920.4241
437972  20181231     22   강남구  694144.8896
437973  20181231     22   송파구  761832.3847
437974  20181231     22   강동구  511401.1277
437975  20181231     23   종로구  271235.4557
437976  20181231     23    중구  179837.1929
437977  20181231     23   용산구  289617.3934
437978  20181231     23   성동구  334834.2472
437979  20181231     23   광진구  398470.6002
437980  20181231     23  동대문구  362019.9478
437981  20181231     23   중랑구  390047.2241
437982  20181231     23   성북구  452419.1247
437983  20181231     23   강북구  326146.7531
437984  20181231     23   도봉구  312915.2229
437985  20181231     23   노원구  547720.2985
437986  20181231     23   은평구  474942.2896
437987  20181231     23  서대문구  370111.6318
437988  20181231     23   마포구  465559.8883
437989  20181231     23   양천구  415060.3931
437990  20181231     23   강서구  569953.5394
437991  20181231     23   구로구  401317.4959
437992  20181231     23   금천구  203002.3038
437993  20181231     23  영등포구  442486.1469
437994  20181231     23   동작구  410926.1689
437995  20181231     23   관악구  524916.6579
437996  20181231     23   서초구  514630.3683
437997  20181231     23   강남구  686729.5029
437998  20181231     23   송파구  748228.6015
437999  20181231     23   강동구  516164.2769

[438000 rows x 4 columns]

In [111]:
df['자치구코드'].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438000 entries, 0 to 437999
Data columns (total 4 columns):
기준일ID     438000 non-null int64
시간대구분     438000 non-null int64
자치구코드     438000 non-null object
총생활인구수    438000 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 13.4+ MB

### 동별 생활인구 칼럼이름 리스트

In [70]:
cols = df.columns.tolist()

['기준일ID',
 '시간대구분',
 '행정동코드',
 '총생활인구수',
 '남자0세부터9세생활인구수',
 '남자10세부터14세생활인구수',
 '남자15세부터19세생활인구수',
 '남자20세부터24세생활인구수',
 '남자25세부터29세생활인구수',
 '남자30세부터34세생활인구수',
 '남자35세부터39세생활인구수',
 '남자40세부터44세생활인구수',
 '남자45세부터49세생활인구수',
 '남자50세부터54세생활인구수',
 '남자55세부터59세생활인구수',
 '남자60세부터64세생활인구수',
 '남자65세부터69세생활인구수',
 '남자70세이상생활인구수',
 '여자0세부터9세생활인구수',
 '여자10세부터14세생활인구수',
 '여자15세부터19세생활인구수',
 '여자20세부터24세생활인구수',
 '여자25세부터29세생활인구수',
 '여자30세부터34세생활인구수',
 '여자35세부터39세생활인구수',
 '여자40세부터44세생활인구수',
 '여자45세부터49세생활인구수',
 '여자50세부터54세생활인구수',
 '여자55세부터59세생활인구수',
 '여자60세부터64세생활인구수',
 '여자65세부터69세생활인구수',
 '여자70세이상생활인구수']

# 2.  지하철승하차 작업코드 - subway_gu_190817.csv
- 승차 인원만, 구 별로 2017~2018년 평균 낸 것

## 지하철 데이터
- 17,18년 년별 전체 합계를 2개년으로 평균냄

In [3]:
import pandas as pd
path = 'subway1718.csv'
df = pd.read_csv(path,encoding='utf-8',index_col=False,header=0)
df

FileNotFoundError: [Errno 2] File b'subway1718.csv' does not exist: b'subway1718.csv'

In [ ]:
df['구이름'].unique()
# 구 25개

In [ ]:
df.groupby(by=['구이름','역명']).sum()

In [ ]:
subway_gu = df.groupby(by='구이름').sum()
# subway_gu.to_csv('subway_gu.csv')